[Unit]
# 服务名称，可自定义
Description = Update IP
After = network.target syslog.target
Wants = network.target

[Service]
Type = simple
User = zhangfeng
WorkingDirectory = /home/zhangfeng/projects/www
ExecStart = /usr/bin/python3 updateIP.py
#StandardOutput = /var/log/migpt_service.log
#StandardError = /var/log/migpt_service_err.log

[Install]
WantedBy = multi-user.target

