<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
  <link rel="stylesheet" href="https://www.biuh-dt.com/assets/css/this_style.css?v=123456789">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?306b9129465a20d9c1535925fdef03ac";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


  </head>
  <body class="hidden-until-ready">
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" width="300" />
        {% endif %}
        
        <p>
            An online laboratory at Hainan Bielefeld University of Applied Sciences (BiUH), based on the Digital Technologies (DT) program, developed to support training and collaborative research in bioinformatics.
        </p>

        </br>

         <p class="view"> <a href="https://www.biuh-dt.com/"> BiUH-DT </a> </p>
        
        </br>
        
        <p>
        <b>Interests</b>:</br>
        • Bioinfo algorithms development;</br>
        • Biological & medical data analysis;</br>
        • Artificial intelligence applications.</br>
        </p>
        
        </br>
        
        <p>
            Contact: <a href='https://fzhang.bioinfo-lab.com/'>ZHANG Feng</a>, PhD, Assoc Prof <br>
            Program Lead of Digital Technologies    <br>
            Email: feng.zhang at hainan-biuh.edu.cn <br> 
        </p>
        
        
        
       
      </header>
      <section>
      
      <div id="loading"><h2>Loading......<h2></div>
        
      <div id="password-form">
           <h2>Password</h2>
           <input type="password" id="password" placeholder="Password">
            <button onclick="checkPassword()">submit</button>
          <p id="message" style="color:red;"></p>
      </div>
      <div id="protected-content">
        
          {{ content }}

      </div>
        
      </section>
      <footer>

        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="https://www.biuh-dt.com/assets/this_main.js?v=123456789"></script>

  </body>
</html>
